.cover__link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  gap: 32px;
}

@media screen and (max-width: 767px) {
  .cover__link {
    gap: 16px;
  }
}
