.cover {
  background-image: url(../../images/cover-trains.jpg);
  background-size: contain;
  min-height: 740px;
  padding: 0;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1024px) {
  .cover {
    min-height: 640px;
    padding: 0;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    min-height: 480px;
    padding: 0;
  }
}

@media screen and (max-width: 320px) {
  .cover {
    min-height: 480px;
    padding: 0;
  }
}
